/**
 * Here you can write custom CSS for your controls!
 *
 * This file is a SASS file. SASS is a superset of CSS with extra features that
 * you can use if you want to. Here's an intro: http://sass-lang.com/guide
 */

@import './variables';

 @font-face {
    font-family: 'Titillium';
    src: url('static/fonts/titillium-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('static/fonts/titillium-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: $font-family-sans-serif;

    // don't show ugly scrollbars if things are outside the window.
    overflow: hidden;

    // these make fonts nicer on Chrome and Safari:
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
