/**
 * This file contains SCSS variables we use for styling our controls.
 * An easy way to start playing around with custom controls is tweaking these!
 */

$base-color-default: #151c33 !default;
$base-color-primary: #0078d7 !default;
$base-color-border: #1f263f !default;
$base-color-accent: #ffcc31 !default;
$base-border-width: 2px !default;

$easing-default-duration: 300ms !default;
$easing-default-fast-duration: 130 !default;
$easing-default-slow-duration: 600ms !default;
$easing-default-curve: cubic-bezier(0.455, 0.03, 0.515, 0.955) !default; // quad in-out
$easing-scene-ease-to-scale: -1.1 !default;

$font-family-sans-serif: 'Titillium', sans-serif !default;
$control-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

@mixin layout-center-contents() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-cover() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin control-font() {
    font-size: 14pt;
    font-family: $control-font-family;
    color: #ffffff;
}
